<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proyecto Laboratorio I</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-custom-1 sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/indexgob}">
                <div class="sidebar-brand-icon ">
                    <i class="fas fa-city"></i>
                    <!--<i class="fas fa-laugh-wink"></i>-->
                </div>
                <div class="sidebar-brand-text mx-3">Gobernación de Lara</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item " th:classappend="${listTab}">
                <a class="nav-link" th:href="@{/indexgob}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                tablas
            </div>

            <!-- Nav Item - tables Collapse Listas -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Listados</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Solicitudes:</h6>
                        <a class="collapse-item" th:href=" @{/tableRequest}">
                            <i class="fas fa-folder-open"></i>
                            <span>Solicitudes</span>
                        </a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Servicios:</h6>
                        <a class="collapse-item " th:href="@{/tableService}">
                            <i class="fas fa-syringe"></i>
                            <span>Servicios</span>
                        </a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Beneficiarios:</h6>
                        <a class="collapse-item" th:href="@{/tableBeneficiario}">
                            <i class="fas fa-users"></i>
                            <span>Beneficiarios</span>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                registrar
            </div>

            <!-- Nav Item - forms Collapse Formularios -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseList"
                    aria-expanded="true" aria-controls="collapseList">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Formularios</span>
                </a>
                <div id="collapseList" class="collapse show" aria-labelledby="headingList" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Solicitud:</h6>
                        <a class="collapse-item" th:href="@{/formRequest}">
                            <i class="fas fa-file-signature"></i>
                            <span>Registrar solicitud</span>
                        </a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Servicio:</h6>
                        <a class="collapse-item " th:href="@{/formService}" th:classappend="${listTab}">
                            <i class="fas fa-syringe"></i>
                            <span>Registrar servicio</span>
                        </a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Empleado:</h6>
                        <a class="collapse-item" th:href="@{/formUser}">
                            <i class="fas fa-user"></i>
                            <span>Registrar empleado</span>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Comprimir Sidebar-->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Usuario</span>
                                <!--<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!--<div class="dropdown-divider"></div>-->
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid ">
                    <!-- Page Heading -->
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body ">
                            <!-- Nested Row within Card Body -->
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Registrar Servicio</h1>
                                        </div>
                                        <form id="servicio" autocomplete="off" class="form" method="post" role="form" th:object="${servicio}" th:action="${editMode} ? @{/editServicio} : @{/formService}">
                                            <input class="form-control" type=hidden th:field="${servicio.id}"  th:if="${editMode}">
                                            <div class="form-group row">
                                                <label for="nombre" class="col-sm-3 control-label"><b>Nombre:<sup>*</sup></b></label>
                                                <div class="col-sm-9 mb-3 mb-sm-0">
                                                    <div class="form-group input-group">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><b>N</b></span>
                                                        </div>
                                                        <input type="text"  class="form-control"id="nombre" placeholder="Nombre" th:field="*{nombre}" required>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group row" >
                                                <label for="nombre" class="col-sm-3 control-label"><b>Tipo:<sup>*</sup></b></label>
                                                <div class="col-sm-9 mb-3 mb-sm-0">
                                                    <div class="form-group input-group">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><i class="fas fa-sort"></i></span>
                                                        </div>
                                                        <select class="form-control" th:field="*{tipo}">
                                                            <option th:value="'m'">Médico</option>
                                                            <option th:value="'d'">Donación</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                    <!--<div class="custom-control custom-radio col-sm-2">
                                                        <input type="radio" class="custom-control-input" id="tipo" name="radio" th:value="m" checked>
                                                        <label for="tipo" class="custom-control-label">Médico</label>
                                                    </div>
                                                    <div class="custom-control custom-radio col-sm-2">
                                                        <input type="radio" class="custom-control-input" id="tipo1" name="radio" th:value="d">
                                                        <label for="tipo1" class="custom-control-label">Donación</label>
                                                    </div>-->
                                            </div>
                                            <div class="form-group row">
                                                <label for="costo" class="col-sm-3 control-label"><b>Costo:<sup>*</sup></b></label>
                                                <div class="col-sm-9 mb-3 mb-sm-0">
                                                    <div class="form-group input-group">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                        </div>
                                                        <input type="number" step="any" class="form-control"id="costo" placeholder="Costo" th:field="*{costo}" required>
                                                    </div>
                                                </div>
                                             </div>
                                             <div class="alert alert-danger text-center" th:if="${errorMessage}" th:text="${errorMessage}">Error Message</div>
                                             <hr style="opacity:0" />
                                             <hr style="opacity:0" />
                                            <button type="submit" class="btn btn-info btn-block" th:text="${editMode} ?'Actualizar': 'Registrar'">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Laboratorio I UCLA DCYT</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{/login}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins 
    <script src="vendor/chart.js/Chart.min.js"></script>-->

    <!-- Page level custom scripts 
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>-->

</body>

</html>
